@layer base {
  html, body {
    @apply bg-gray-900 text-white;
  }
  
  /* Ensure form elements are white */
  input, textarea, select {
    @apply text-white;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;